@model Race

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Location</h3>
            <ul>
                <li>@Model.Address.City</li>
                <li>@Model.Address.State</li>
                <li>@Model.RaceCategory</li>
            </ul>
            <div>
                <form method="post" asp-action="Delete" enctype="multipart/form-data">
                    <h3 class="my-3">Are you sure you want to delete?</h3>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
